.wrapper{
    display: flex;
    flex-direction: column;
}

#form, .list-holder, .counter-holder{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
}
.counter-holder{
    flex-direction: column;
    align-items: center;
    margin:0 0 10px;
}
.counter{
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    line-height: 30px;
    background-color: #000;
    color: #ffffff;
}
.list{
    width: 300px;
    margin:0 20px;
    padding:0;
    list-style:none;
    font-size: 25px;
    line-height: 30px;
    background-color: #000;
    color: #ffffff;
}
.list>li{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
    padding:20px;
}
.list>li input{
  background: #000;
  color: #fff;
  border: 0;
  font-size: 20px;
}
.list>li:first-child{
    border-top: 0;
}
.main-list{
    align-self: center;
    width: 600px;
}
.chat-list{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #686868;
    font-size: 15px;
    line-height: 20px;
}
.chat-list>li{
    padding:10px;
}
.chat-list>li input{
    background-color: #686868;
    font-size: 15px;
    color: #fff;
    width: 100px;;
}

#form{
    background-color: gray;
    padding:10px;
    border-radius: 10px;
    margin:0 0 10px;
}
.input{
    border: 0;
    background-color: #fff;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    margin: 0 10px 0 0;
    padding:0 10px;
}
.input:focus, .button:focus{
    outline: none;
}

.button{
    font-size: 15px;
    line-height: 30px;
    padding:0 30px;
    border: 0;
    color: #fff;
    border-radius: 10px;
    background: #000;
    background: -moz-linear-gradient(top, #000 0%, #696969 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #696969));
    background: -webkit-linear-gradient(top, #000 0%, #696969 100%);
    background: -o-linear-gradient(top, #000 0%, #696969 100%);
    background: -ms-linear-gradient(top, #000 0%, #696969 100%);
    background: linear-gradient(to bottom, #000 0%, #696969 100%);
    cursor: pointer;
}
